* { margin: 0; padding: 0; box-sizing: border-box; }
ol, ul { list-style: none; }
a {	text-decoration: none; 	color: #000000; }
img { vertical-align: middle; }
.clearfix { clear: both; }
button { border: none; }
input, textarea { outline: none; }

/*웹툰 페이지*/
.webtoon-container { width: 960px; margin: 0 auto; }
.webtoon-border { border: solid 1px #ced2d7; }

/*header*/
#webtoon-header { background-color: #ffffff; }

#webtoon-header .webtoon-header-top { background-color: #ffffff;
	padding: 10px 0 7px 0; border-bottom: solid 1px #f2f2f2; }
#webtoon-header .webtoon-header-top .webtoon-container { display: flex; 
	flex-wrap: wrap; justify-content: space-between; align-items: center; }
#webtoon-header .webtoon-header-top .webtoon-header-left { width: 550px;
	display: flex; flex-wrap: wrap; align-items: center; }

#webtoon-header .webtoon-header-top .webtoon-header-left h2 { font-size: 20px; }
#webtoon-header .webtoon-header-top .webtoon-header-left .bar { width: 1px;
	height: 13px; background-color: #d2d2d2; margin: 0 8px 0 10px; }
#webtoon-header .webtoon-header-top .webtoon-header-left h3 { margin-right: 30px; }
#webtoon-header .webtoon-header-top .webtoon-header-left h3 a { font-size: 16px;
	color: grey;  }

#webtoon-header .webtoon-header-top .webtoon-header-input-wrap { width: 315px;
	height: 37px; display: flex; flex-wrap: wrap; justify-content: space-between;
	align-items: center; border: solid 1px #e5e5e5; }
#webtoon-header .webtoon-header-top .webtoon-header-input-wrap input { 
	width: calc(100% - 35px); height: 100%; border: none; }
#webtoon-header .webtoon-header-top .webtoon-header-input-wrap input:focus { 
	outline: none; }
#webtoon-header .webtoon-header-top .webtoon-header-input-wrap .btn-search { 
	width: 35px; height: 100%; background-color: #00d564; }

#webtoon-header .webtoon-header-top .webtoon-header-right { display: flex;
	flex-wrap: wrap; justify-content: flex-end; align-items: center; }
#webtoon-header .webtoon-header-top .webtoon-header-right  .btn-login { 
	font-size: 12px; border: solid 1px #000; padding: 2px 4px; margin-right: 20px; }
#webtoon-header .webtoon-header-top .webtoon-header-right .btn-menu { 
	width: 16px; height: 16px; background-color: blue; }

#webtoon-header .webtoon-header-nav { border-bottom: solid 1px #e5e5e5; }
#webtoon-header .webtoon-header-nav .webtoon-container { display: flex;
	flex-wrap: wrap; justify-content: space-between; align-items: center; }
#webtoon-header .webtoon-header-nav nav {  }
#webtoon-header .webtoon-header-nav nav ul { display: flex;
	flex-wrap: wrap; align-items: center; }
#webtoon-header .webtoon-header-nav nav ul li { width: auto;
	height: 40px; }
#webtoon-header .webtoon-header-nav nav ul li.on a { color: #ffffff;
	background-color: #00d564; }
#webtoon-header .webtoon-header-nav nav ul li a { display: block;
	width: 100%; height: 100%; padding: 0 15px; line-height: 40px;
	font-size: 14px; }

#webtoon-header .webtoon-header-nav .webtoon-header-link-wrap { 
	 }
#webtoon-header .webtoon-header-nav .webtoon-header-link-wrap .icon-ex-mark { 
	display: inline-block; width: 16px; height: 14px; background-color: #000;
	vertical-align: middle; }
#webtoon-header .webtoon-header-nav .webtoon-header-link-wrap a { 
	vertical-align: middle; font-size: 12px; color: #606060; }
#webtoon-header .webtoon-header-nav .webtoon-header-link-wrap a:hover { 
	text-decoration: underline; }


	/*main*/
#webtoon-main { padding-top: 20px; }
#webtoon-main .webtoon-container { overflow: hidden; }

#webtoon-main .webtoon-main-left { float: left; width: 694px; }
#webtoon-main .webtoon-main-left .webtoon-carousel { width: 694px;
	height: 252px; overflow: hidden; background-color: #ffffff; 
	margin-bottom: 20px; }
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left { 
	width: 112px; float: left; padding: 20px 5px 0 15px; }
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left h2 { 
	font-size: 25px; }
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left h2 span { 
	color: #00d564; }
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left p { 
	font-size: 12px; color: #808285; }
	
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left ul { 
	margin-top: 48px; }
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left ul li { 
	font-size: 12px; margin-bottom: 10px; }
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left ul li:last-child {
	margin-bottom: 0;}
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left li.on a { 
	color: #00d564; }

#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-right { 
	width: calc(100% - 112px); float: right; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner { 
	width: 582px; height: 195px; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner img { 
	width: 100%; height: 100%; }

#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav { 
	position: relative; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav ul { 
	display: flex; flex-wrap: wrap; align-items: center; width: 540px;
	margin: 0 auto; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav ul li { 
	width: 135px; height: 57px; border-right: solid 1px #e5e5e5;
	border-left:solid 1px #e5e5e5; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav ul li:first-child { 
	border-left: none; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav ul li:last-child {
	border-right: none; }

#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav ul li img { 
	width: 100%; height: 100%; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav .btn { 
	position: absolute; width: 20px; height: 57px; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav .btn.btn-prev { 
	left: 0; top: 0; background-color: pink; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav .btn.btn-next { 
	right: 0; top: 0; background-color: blue; }


#webtoon-main .webtoon-main-left .webtoon-banner { width: 100%;
	height: 80px; background-color: black; }


#webtoon-main .webtoon-main-left .webtoon-content { background-color: #ffffff; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header { 
	position: relative; border-bottom: solid 1px #e5e5e5; padding: 26px 0 10px; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header.webtoon-content-header-recommend{ 
	padding-bottom: 0; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header h2 { 
	font-size: 20px; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header h2 span{ 
	color: #00d564; }


#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header nav { 
	margin-top: 20px; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header ul { 
	display: flex; flex-wrap: wrap; align-items: center; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header li { 
	width: auto; height: 22px; margin-right: 15px; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header li.on { 
	border-bottom: solid 2px #00d564; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header li a { 
	display: block; padding-bottom: 6px; font-size: 13px; color: #737373; }

#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-body nav { 
	padding: 12px; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-body nav ul { 
	display: flex; flex-wrap: wrap; justify-content: flex-end;
	align-items: center; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-body nav ul li { 
	margin-right: 8px; font-size: 12px; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-body nav ul li a { 
	color: grey; }

#webtoon-main .webtoon-main-left .webtoon-content-col-3 { display: flex;
	flex-wrap: wrap; justify-content: space-between; align-items: center; }
#webtoon-main .webtoon-main-left .webtoon-content-col-3 .webtoon-content-col-type-1 { 
	width: 210px; height: 196px; font-size: 12px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-type-1 img { 
	margin-bottom: 10px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-type-1 .webtoon-content-col-3-info h4,
#webtoon-main .webtoon-main-left .webtoon-content-col-type-1 .webtoon-content-col-3-info p { 
	margin-bottom: 5px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-type-1 .webtoon-content-col-3-info span { 
	color: grey; }

#webtoon-main .webtoon-main-left .webtoon-content-col-type-2 { 
	width: 210px; font-size: 12px; margin-top: 14px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-type-2 h3 { 
	font-size: 14px; color: grey; margin-bottom: 10px; }

#webtoon-main .webtoon-main-left .webtoon-content-col-type-2 .webtoon-lists li { 
	display: flex; flex-wrap: wrap; align-items: center; height: 90px;
	margin-bottom: 20px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-type-2 .webtoon-lists li img { 
	margin-right: 10px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-info-right .webtoon-content-rating { 
	margin-top: 15px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-info-right .webtoon-content-rating .star { 
	display: inline-block; width: 60px; height: 14px; background-color: brown;
	vertical-align: middle; }


/*07.26*/

#webtoon-main .webtoon-main-right { float: right; width: 240px; }
#webtoon-main .webtoon-main-right .webtoon-challenge-wrap { width: 100%;
	height: 252px; background-color: #f9f9fc; padding: 20px 18px;
	margin-bottom: 20px; }
#webtoon-main .webtoon-main-right .webtoon-challenge-wrap h3 { 
	font-size: 18px; margin-bottom: 11px; }
#webtoon-main .webtoon-main-right .webtoon-challenge-wrap h3 span { 
	color: #00d564; }
#webtoon-main .webtoon-main-right .webtoon-challenge-wrap img { 
	width: 100%; height: 110px; }

#webtoon-main .webtoon-main-right .webtoon-challenge-wrap .webtoon-info .webtoon-title-wrap { 
	display: flex; flex-wrap: wrap; justify-content: space-between;
	align-items: center; margin-bottom: 5px; }
#webtoon-main .webtoon-main-right .webtoon-challenge-wrap .webtoon-info a:hover { 
	text-decoration: underline; }
#webtoon-main .webtoon-main-right .webtoon-challenge-wrap .webtoon-info .webtoon-title-wrap h4 { 
	font-size: 16px; }
#webtoon-main .webtoon-main-right .webtoon-challenge-wrap .webtoon-info .webtoon-title-wrap a { 
	font-size: 12px; }
#webtoon-main .webtoon-main-right .webtoon-challenge-wrap .webtoon-info p { 
	font-size: 14px; }
#webtoon-main .webtoon-main-right .webtoon-challenge-wrap .webtoon-info p a { 
	color: grey; }


#webtoon-main .webtoon-main-right .webtoon-banner-type-1,
#webtoon-main .webtoon-main-right .webtoon-banner-type-2 { margin-bottom: 8px; }
#webtoon-main .webtoon-main-right .webtoon-banner-type-1 { height: 240px;
	background-color: yellow; }
#webtoon-main .webtoon-main-right .webtoon-banner-type-2 { height: 86px;
	background-color: pink; }


#webtoon-main .webtoon-main-right .webtoon-popular { background-color: #ffffff;
	margin-bottom: 8px; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-header { 
	display: flex; flex-wrap: wrap; justify-content: space-between; 
	align-items: center; padding: 9px 12px; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-header h2 { 
	font-size: 14px; }

#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-tabs { 
	display: flex; flex-wrap: wrap; justify-content: space-between;
	align-items: center; border-top: solid 1px #e1e1e1; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-tabs .tab { 
	width: 50%; height: 30px; border-bottom: solid 1px #e1e1e1;
	text-align: center; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-tabs .tab:first-child { 
	border-right: solid 1px #e1e1e1; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-tabs .tab .active { 
	border-bottom: solid 1px #ffffff; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-tabs .tab span { 
	display: block; width: 100%; height: 100%; line-height: 30px;
	font-size: 12px; }

#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking { 
	width: 100%; background-color: #ffffff; padding: 15px 0 7px; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking li { 
	display: flex; flex-wrap: wrap; justify-content: space-between;
	align-items: center; margin-bottom: 7px; padding: 0 13px;
	font-size: 12px; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .rank-content { 
	display: flex; flex-wrap: wrap; align-items: center; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .rank-content a { 
	display: inline-block; overflow: hidden; width: 140px;
	white-space: nowrap; text-overflow: ellipsis; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .rank-content .rank { 
	margin-right: 5px; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .rank-box { 
	position: relative; display: flex; flex-wrap: wrap;
	justify-content: space-between; align-items: center;
	width: 30px; height: 12px; top: -3px; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .rank-box .status { 
	width: 12px; height: 12px; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .rank-box .status.status-stay { 
	background-color: black; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .rank-box .status.status-up { 
	background-color: red; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .rank-box .status.status-down { 
	background-color: blue; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .rank-box .number { 
 }


/*썸네일 이미지가 포함된 랭킹*/
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .rank.rank-custom { 
	position: relative; top: -10px; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .image-wrap { 
	display: flex; flex-wrap: wrap; justify-content: flex-start;
	align-items: center; width: 140px; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .image-wrap img { 
	width: 30px; height: 33px; margin-right: 5px; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .image-wrap .webtoon-info a { 
	width: 100px; }
#webtoon-main .webtoon-main-right .webtoon-popular .webtoon-popular-ranking .image-wrap .webtoon-info .author { 
	display: block; }


/*footer*/
#webtoon-footer { padding-bottom: 78px; font-size: 12px; }

#webtoon-footer .webtoon-container { border-top: solid 1px #e6e7e8;
	padding-top: 40px; }


#webtoon-footer .webtoon-footer-wrap { display: flex; flex-wrap: wrap;
	justify-content: flex-start; align-items: center; margin-bottom: 32px; }
#webtoon-footer .webtoon-footer-wrap .webtoon-footer-left,
#webtoon-footer .webtoon-footer-wrap .webtoon-footer-right { 
	width: 50%; padding-left: 25px; }
#webtoon-footer .webtoon-footer-wrap .webtoon-footer-right { 
	border-left: solid 1px grey; }

#webtoon-footer .webtoon-footer-wrap ul { display: flex; flex-direction: row;
	justify-content: flex-start; align-items: center; 
	margin-bottom: 8px; }
#webtoon-footer .webtoon-footer-wrap ul li:first-child:before { 
	content: initial; }
#webtoon-footer .webtoon-footer-wrap ul li:before { 
	display: inline-block; content: ""; width: 1px; height: 11px;
	background-color: #d9d9d9; vertical-align: -1px; margin: 0 8px; }
#webtoon-footer .webtoon-footer-wrap span { 
	text-transform: uppercase; }
/*capitalize는 첫글자만 대문자, 
uppercase는 전체 대문자, 
lowercase는 전체 소문자로 설정*/

#webtoon-footer .webtoon-footer-paragraph { padding-left: 25px; }



/*웹툰 디테일 css*/
.webtoon-detail { padding-top: 0; }

.webtoon-detail .nav-1 { background-color: #fafafa; 
	border-bottom: solid 1px #ededed; }

.webtoon-detail .nav-1 ul { display: flex; flex-wrap: wrap; 
	align-items: center; }
.webtoon-detail .nav-1 ul li { width: auto; height: 36px; 
	margin-right: 28px; }
.webtoon-detail .nav-1 ul li:last-child { margin-right: 0; }
.webtoon-detail .nav-1 ul li a { display: block; width: 100%; 
	height: 100%; line-height: 36px; text-align: center; 
	font-size: 12px; color: #434343; }

.webtoon-detail .nav-2 { padding-top: 20px; 
	border-bottom: solid 1px #e5e5e5; }
.webtoon-detail .nav-2 ul { display: flex; flex-wrap: wrap; 
	justify-content: flex-start; align-items: center; }
.webtoon-detail .nav-2 ul li { margin-right: 14px;
	padding-bottom: 5px; border-bottom: solid 2px transparent; }
.webtoon-detail .nav-2 ul li.on { border-color: #00d564;
	margin-bottom: -1px; font-weight: 700; }
.webtoon-detail .nav-2 ul li:last-child { margin-right: 0; }
.webtoon-detail .nav-2 ul li a { font-size: 13px; }


.webtoon-detail #webtoon-this-month { padding: 20px 0; }
.webtoon-detail #webtoon-this-month h2 { font-size: 16px;
	margin-bottom: 8px; }
.webtoon-detail #webtoon-this-month .webtoon-this-lists { display: flex;
	flex-wrap: wrap; justify-content: space-between; align-items: center; }

.webtoon-detail #webtoon-this-month .webtoon-this-list { width: 218px; }
.webtoon-detail #webtoon-this-month .webtoon-this-list .this-image-wrap { 
	position: relative; width: 100%; height: 120px; margin-bottom: 5px; }
.webtoon-detail #webtoon-this-month .webtoon-this-list .this-image-wrap img { 
	position: absolute; width: 100%; height: 100%; }
.webtoon-detail #webtoon-this-month .webtoon-this-list .this-image-wrap .new-mark { 
	position: absolute; width: 30px; background-color: #00c85e;
	color: #ffffff; }
.webtoon-detail #webtoon-this-month .webtoon-this-list h3 {  
	font-size: 14px; margin-bottom: 5px; }
.webtoon-detail #webtoon-this-month .webtoon-this-list .author { 
	display: block; font-size: 14px; margin-bottom: 5px; }
.webtoon-detail #webtoon-this-month .webtoon-this-list p { font-size: 14px; }


.webtoon-detail #webtoon-total-day { padding-top: 20px; }
.webtoon-detail #webtoon-total-day .webtoon-total-title-wrap { 
	display: flex; flex-wrap: wrap;  justify-
	content: space-between;
	align-items: center; padding-bottom: 8px; border-bottom: solid 1px #eaeaea;}
.webtoon-detail #webtoon-total-day .webtoon-total-title-wrap h2 { 
	font-size: 16px; }
.webtoon-detail #webtoon-total-day .webtoon-total-title-wrap ul { 
	display: flex; flex-wrap: wrap; justify-content: flex-end;
	align-items: center; }
.webtoon-detail #webtoon-total-day .webtoon-total-title-wrap li { 
	margin-right: 10px; }
.webtoon-detail #webtoon-total-day .webtoon-total-title-wrap li:last-child { 
	margin-right: 0; }
.webtoon-detail #webtoon-total-day .webtoon-total-title-wrap a { 
	font-size: 12px; }

.webtoon-detail #webtoon-total-day .webtoon-day-lists { display: flex;
	flex-direction: row; border-bottom: solid 1px #f4f4f4; }
.webtoon-detail #webtoon-total-day .webtoon-day-list { width: 14.2855%;
	text-align: center; border-right: solid 1px #f4f4f4;
	padding: 0 8px; }
.webtoon-detail #webtoon-total-day .webtoon-day-list.active { 
	background-color: #3a3a3a; border-color: #3a3a3a; color: #fbcb00; }
