* { margin: 0; padding: 0; box-sizing: border-box; }
ol, ul { list-style: none; }
a {	text-decoration: none; 	color: #000000; }
img { vertical-align: middle; }
.clearfix { clear: both; }
button { border: none; }
input, textarea { outline: none; }

/*웹툰 페이지*/
.webtoon-container { width: 960px; margin: 0 auto; }
.webtoon-border { border: solid 1px #ced2d7; }

/*header*/
#webtoon-header { background-color: #ffffff; }

#webtoon-header .webtoon-header-top { background-color: #ffffff;
	padding: 10px 0 7px 0; border-bottom: solid 1px #f2f2f2; }
#webtoon-header .webtoon-header-top .webtoon-container { display: flex; 
	flex-wrap: wrap; justify-content: space-between; align-items: center; }
#webtoon-header .webtoon-header-top .webtoon-header-left { width: 550px;
	display: flex; flex-wrap: wrap; align-items: center; }

#webtoon-header .webtoon-header-top .webtoon-header-left h2 { font-size: 20px; }
#webtoon-header .webtoon-header-top .webtoon-header-left .bar { width: 1px;
	height: 13px; background-color: #d2d2d2; margin: 0 8px 0 10px; }
#webtoon-header .webtoon-header-top .webtoon-header-left h3 { margin-right: 30px; }
#webtoon-header .webtoon-header-top .webtoon-header-left h3 a { font-size: 16px;
	color: grey;  }
#webtoon-header .webtoon-header-top .webtoon-header-input-wrap { width: 315px;
	height: 37px; display: flex; flex-wrap: wrap; justify-content: space-between;
	align-items: center; border: solid 1px #e5e5e5; }
#webtoon-header .webtoon-header-top .webtoon-header-input-wrap input { 
	width: calc(100% - 35px); height: 100%; border: none; }
#webtoon-header .webtoon-header-top .webtoon-header-input-wrap input:focus { 
	outline: none; }
#webtoon-header .webtoon-header-top .webtoon-header-input-wrap .btn-search { 
	width: 35px; height: 100%; background-color: #00d564; }

#webtoon-header .webtoon-header-top .webtoon-header-right { display: flex;
	flex-wrap: wrap; justify-content: flex-end; align-items: center; }
#webtoon-header .webtoon-header-top .webtoon-header-right  .btn-login { 
	font-size: 12px; border: solid 1px #000; padding: 2px 4px; margin-right: 20px; }
#webtoon-header .webtoon-header-top .webtoon-header-right .btn-menu { 
	width: 16px; height: 16px; background-color: blue; }

#webtoon-header .webtoon-header-nav { border-bottom: solid 1px #e5e5e5; }
#webtoon-header .webtoon-header-nav .webtoon-container { display: flex;
	flex-wrap: wrap; justify-content: space-between; align-items: center; }
#webtoon-header .webtoon-header-nav nav {  }
#webtoon-header .webtoon-header-nav nav ul { display: flex;
	flex-wrap: wrap; align-items: center; }
#webtoon-header .webtoon-header-nav nav ul li { width: auto;
	height: 40px; }
#webtoon-header .webtoon-header-nav nav ul li.on a { color: #ffffff;
	background-color: #00d564; }
#webtoon-header .webtoon-header-nav nav ul li a { display: block;
	width: 100%; height: 100%; padding: 0 15px; line-height: 40px;
	font-size: 14px; }

#webtoon-header .webtoon-header-nav .webtoon-header-link-wrap { 
	 }
#webtoon-header .webtoon-header-nav .webtoon-header-link-wrap .icon-ex-mark { 
	display: inline-block; width: 16px; height: 14px; background-color: #000;
	vertical-align: middle; }
#webtoon-header .webtoon-header-nav .webtoon-header-link-wrap a { 
	vertical-align: middle; font-size: 12px; color: #606060; }
#webtoon-header .webtoon-header-nav .webtoon-header-link-wrap a:hover { 
	text-decoration: underline; }


	/*main*/
#webtoon-main { padding-top: 100px; }
#webtoon-main .webtoon-container { overflow: hidden; }

#webtoon-main .webtoon-main-left { float: left; width: 694px; }
#webtoon-main .webtoon-main-left .webtoon-carousel { width: 694px;
	height: 252px; overflow: hidden; background-color: #ffffff; 
	margin-bottom: 20px; }
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left { 
	width: 112px; float: left; padding: 20px 5px 0 15px; }
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left h2 { 
	font-size: 25px; }
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left h2 span { 
	color: #00d564; }
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left p { 
	font-size: 12px; color: #808285; }
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left ul { 
	margin-top: 48px; }
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left ul li { 
	font-size: 12px; margin-bottom: 10px; }
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left ul li:last-child {
	margin-bottom: 0;}
#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-left li.on a { 
	color: #00d564; }

#webtoon-main .webtoon-main-left .webtoon-carousel .webtoon-carousel-right { 
	width: calc(100% - 112px); float: right; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner { 
	width: 582px; height: 195px; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner img { 
	width: 100%; height: 100%; }

#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav { 
	position: relative; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav ul { 
	display: flex; flex-wrap: wrap; align-items: center; width: 540px;
	margin: 0 auto; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav ul li { 
	width: 135px; height: 57px; border-right: solid 1px #e5e5e5;
	border-left:solid 1px #e5e5e5; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav ul li:first-child { 
	border-left: none; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav ul li:last-child {
	border-right: none; }

#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav ul li img { 
	width: 100%; height: 100%; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav .btn { 
	position: absolute; width: 20px; height: 57px; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav .btn.btn-prev { 
	left: 0; top: 0; background-color: pink; }
#webtoon-main .webtoon-main-left .webtoon-carousel-banner-nav .btn.btn-next { 
	right: 0; top: 0; background-color: blue; }


#webtoon-main .webtoon-main-left .webtoon-banner { width: 100%;
	height: 80px; background-color: black; }


#webtoon-main .webtoon-main-left .webtoon-content { background-color: #ffffff; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header { 
	position: relative; border-bottom: solid 1px #e5e5e5; padding: 26px 0 10px; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header.webtoon-content-header-recommend{ 
	padding-bottom: 0; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header h2 { 
	font-size: 20px; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header h2 span{ 
	color: #00d564; }


#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header nav { 
	margin-top: 20px; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header ul { 
	display: flex; flex-wrap: wrap; align-items: center; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header li { 
	width: auto; height: 22px; margin-right: 15px; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header li.on { 
	border-bottom: solid 2px #00d564; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-header li a { 
	display: block; padding-bottom: 6px; font-size: 13px; color: #737373; }

#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-body nav { 
	padding: 12px; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-body nav ul { 
	display: flex; flex-wrap: wrap; justify-content: flex-end;
	align-items: center; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-body nav ul li { 
	margin-right: 8px; font-size: 12px; }
#webtoon-main .webtoon-main-left .webtoon-content .webtoon-content-body nav ul li a { 
	color: grey; }

#webtoon-main .webtoon-main-left .webtoon-content-col-3 { display: flex;
	flex-wrap: wrap; justify-content: space-between; align-items: center; }
#webtoon-main .webtoon-main-left .webtoon-content-col-3 .webtoon-content-col-type-1 { 
	width: 210px; height: 196px; font-size: 12px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-type-1 img { 
	margin-bottom: 10px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-type-1 .webtoon-content-col-3-info h4,
#webtoon-main .webtoon-main-left .webtoon-content-col-type-1 .webtoon-content-col-3-info p { 
	margin-bottom: 5px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-type-1 .webtoon-content-col-3-info span { 
	color: grey; }

#webtoon-main .webtoon-main-left .webtoon-content-col-type-2 { 
	width: 210px; font-size: 12px; margin-top: 14px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-type-2 h3 { 
	font-size: 14px; color: grey; margin-bottom: 10px; }

#webtoon-main .webtoon-main-left .webtoon-content-col-type-2 .webtoon-lists li { 
	display: flex; flex-wrap: wrap; align-items: center; height: 90px;
	margin-bottom: 20px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-type-2 .webtoon-lists li img { 
	margin-right: 10px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-info-right .webtoon-content-rating { 
	margin-top: 15px; }
#webtoon-main .webtoon-main-left .webtoon-content-col-info-right .webtoon-content-rating .star { 
	display: inline-block; width: 60px; height: 14px; background-color: brown;
	vertical-align: middle; }















#webtoon-main .webtoon-main-right { float: right; width: 240px; height: 2000px;
	background-color: blue; }