* { margin: 0; padding: 0; box-sizing: border-box; }
ol, ul { list-style: none; }
a {	text-decoration: none; 	color: #000000; }
img { vertical-align: middle; }
.clearfix { clear: both; }
input, button { border: none; }
input, textarea { outline: none; }

/*쇼핑페이지 상단*/
.shop-container { width: 1300px; margin: 0 auto; }
.shop-border { border: solid 1px #ced2d7; }
.w-100 { width: 100%; }
.h-100 { height: 100%; }
#shop-body { background-color: #e9ece8; }

#shop-header #shop-header-top { width: 100%; height: 36px;
	background-color: #03c75a; border: solid 1px #e8e8e8;  }
#shop-header #shop-header-middle { width: 100%; height: 66px;
	background-color: #03c75a; }

#shop-header nav { width: 100%; border-top: solid 1px #e8e8e8;
	border-bottom: solid 1px #e8e8e8; background-color: #ffffff; }
#shop-header nav ul { padding: 13px 0 8px 0; display: flex; flex-wrap: wrap;
	justify-content: flex-start; align-items: center; }
#shop-header nav ul li { margin-right: 16px; }

/*쇼핑페이지 main*/
main { overflow: hidden; padding: 20px 0 0 0; }

#shop-main .list-wrap { display: flex; flex-wrap: wrap;
	 justify-content: space-between; align-items: stretch; }
#shop-main .list-item { width: 308px; height: 496px; 
	background-color: yellow; margin-bottom: 20px; }

#shop-main .list-item .category-wrap { overflow: hidden; }
#shop-main .list-item .category-wrap .category-left { float: left;
	width: 124px; height: 100%; background-color: #333949; }
#shop-main .list-item .category-wrap .category-left h3 { font-size: 13px;
	color: rgba(255, 255, 255, 0.46); font-weight: 700; padding: 14px 0 14px 13px;
	border-bottom: solid 1px #2b313f; }
#shop-main .list-item .category-wrap .category-left ul { 
	 }
#shop-main .list-item .category-wrap .category-left li { 
	 }
#shop-main .list-item .category-wrap .category-left a { font-size: 13px;
	color: rgba(255, 255, 255, 0.46); font-weight: 700; display: block;
	padding: 7px 8px; }

#shop-main .list-item .category-wrap .category-right { float: right;
	width: 182px; height: 100%; background-color: #ffffff; }
#shop-main .list-item .category-wrap .category-right-top { width: 100%;
	height: 306px; border-bottom: solid 1px #e7e7e7; text-align: center; }
#shop-main .list-item .category-wrap .category-right-top .category-info { 
	padding: 20px 0; }
#shop-main .list-item .category-wrap .category-right-top .headline,
#shop-main .list-item .category-wrap .category-right-bottom .headline { 
	font-size: 12px; border: solid 1px #00ab33; color: #00ab33; display: inline-block;
	margin-bottom: 7px; }
#shop-main .list-item .category-wrap .category-right-top .category-info h3 { 
	font-size: 18px; }
#shop-main .list-item .category-wrap .category-right-top .category-info .price { 
	font-size: 16px; color: skyblue; }

#shop-main .list-item .category-wrap .category-right-bottom { text-align: center;
	padding-top: 20px; }
#shop-main .list-item .category-wrap .category-right-bottom .tag-wrap .tag { 
	display: inline-block; width: auto; height: 24px;
	background-color: #e8eef4; padding: 0 5px; margin: 6px 1px 0 1px;
	line-height: 26px; font-size: 12px; color: #666; vertical-align: top; }

#shop-main .list-item.banner img { width: 100%; height: 100%; }