#night2 .moon {
	animation: moveMoon 10s linear infinite;
}
@keyframes moveMoon{
	from {margin-left: -135px}
	to {margin-left: 110%}
}
/*morning*/
#morning .sun {
	animation: moveSun 10s 1500ms linear infinite;
}
@keyframes moveSun {
	from {margin-left: -135px;}
	to {margin-left: 110%;}
}
/*kitchen*/

#kitchen .steamWrap .bubble1 {
  animation-name: Bubble;
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}
@keyframes Bubble {
  0% {transform:translate(0px, 0px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
  100% {transform:translate(-107px, -185px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);}
}
