#forest1 .treeWrap .rabbit1 {
	animation: spinRabbitOne 1000ms linear infinite alternate;
}
@keyframes spinRabbitOne {
	from {transform: rotate(0deg);}
	to {transform: rotate(10deg);}
}
#forest1 .treeWrap .rabbit2 {
	animation: spinRabbittwo 1000ms linear infinite alternate;
}
@keyframes spinRabbittwo {
	from {transform: rotate(10deg);}
	to {transform: rotate(0deg);}
}

/*forest2*/
#forest2 .machineWrap2 .machineLeft {
	animation: moveLeft 1000ms linear infinite alternate;
}
@keyframes moveLeft {
	from {left: 30px}
	to {left: 0;}
}
#forest2 .machineWrap2 .machineRight {
	animation: moveRight 1000ms linear infinite alternate;
}
@keyframes moveRight {
	from {left: -30px}
	to {left: 0;}
}

/*forest3*/
#forest3 .forest3Wrap .smallBird {
	animation: spinSmallBird 1000ms linear infinite alternate;
}
@keyframes spinSmallBird {
	from { transform: rotate(0); }
	to { transform: rotate(10deg); }
}
#forest3 .forest3Wrap .bigBird {
	animation: spinBigBird 1000ms linear infinite alternate;
}
@keyframes spinBigBird {
	from { transform: rotate(0); }
	to { transform: rotate(-10deg); }
}

/*science*/
#science .scienceWrap .gly {
	animation: spinGly 1500ms linear infinite alternate;
}
@keyframes spinGly {
	from {transform: rotate(0);}
	to {transform: rotate(50deg);}
}
#science .scienceWrap .water {
	animation: spinWater 1500ms linear infinite alternate;
}
@keyframes spinWater {
	from {transform: rotate(0);}
	to {transform: rotate(-50deg);}
}

/*night1*/
#night1 .starWrap .star1,
#night1 .starWrap .star2,
#night1 .starWrap .star3 {
	animation : pulseStar 1s linear infinite alternate;
}
@keyframes pulseStar {
	from { transform: scale(1.0); }
	to { transform: scale(0.8); }
}











